STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret"
GMAIL_USER="your_gmail_user_email"
GMAIL_APP_PASSWORD="your_gmail_app_password"
BETTER_AUTH_URL="your_better_auth_url"
BETTER_AUTH_SECRET="your_better_auth_secret"
DATABASE_URL="your_database_url"
AUTH_GITHUB_CLIENT_ID="your_github_client_id"
AUTH_GITHUB_SECRET="your_github_secret"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_ENDPOINT_URL_S3="your_aws_endpoint_url_s3"
AWS_ENDPOINT_URL_IAM="your_aws_endpoint_url_iam"
NEXT_PUBLIC_S3_BUCKET_NAME="your_s3_bucket_name"
ARCJET_KEY="your_arcjet_key"
STRIPE_SECRET_KEY="your_stripe_secret_key"
AWS_REGION="your_aws_region"